[submodule "HazelEngine/vendor/spdlog"]
	path = HazelEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HazelEngine/vendor/GLFW"]
	path = HazelEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
